@model IyiOlusAdminPanel.Models.Contacts.Contact

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string fullname = Model.UserResponse.Name + " " + Model.UserResponse.Surname;
    string mail = Model.UserResponse.RegisterResponse.Email;
}

<div class="bg-white shadow rounded p-4">
    <h1 class="text-lg font-semibold mb-4">Mesaj Detaı</h1>

    <input asp-for="Id" type="hidden" />
    <div class="space-y-4">
        <div>
            <label asp-for="Subject" class="block mb-1 font-medium">Konu</label>
            <input asp-for="Subject"
                   class="w-full border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" disabled />
            <span asp-validation-for="Subject" class="text-red-500 text-sm"></span>
        </div>


        <div>
            <label asp-for="Message" class="block mb-1 font-medium">Mesaj</label>
            <textarea asp-for="Message"
                      class="w-full border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" disabled rows="4"></textarea>
            <span asp-validation-for="Message" class="text-red-500 text-sm"></span>
        </div>

        <div>
            <label asp-for="@fullname" class="block mb-1 font-medium">Kullanıcı</label>
            <input asp-for="@fullname" class="w-full border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" disabled />
            <span asp-validation-for="@fullname" class="text-red-500 text-sm"></span>
        </div>


        <div>
            <label asp-for="UserResponse.RegisterResponse.Email" class="block mb-1 font-medium">Mail</label>
            <input asp-for="UserResponse.RegisterResponse.Email"
                   class="w-full border p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-400" disabled />
            <span asp-validation-for="UserResponse.RegisterResponse.Email" class="text-red-500 text-sm"></span>
        </div>
        <div>
            <a href="mailto:@mail"
               class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">
                Dönüş Yap
            </a>
        </div>
    </div>
</div>
